# 군집형

## 문자열(String) 타입

### 기본 활용법

* 문자열은 Single quotes(`'`)나 Double quotes(`"`)을 활용하여 표현 가능합니다.

    - 작은따옴표: `'"큰" 따옴표를 담을 수 있습니다'`

    - 큰따옴표: `"'작은' 따옴표를 담을 수 있습니다"`

    - 삼중 따옴표: `'''세 개의 작은따옴표'''`, `"""세 개의 큰따옴표"""`


* 단, 문자열을 묶을 때 동일한 문장부호를 활용해야하며, `PEP-8`에서는 **하나의 문장부호를 선택**하여 유지하도록 하고 있습니다. 
(Pick a rule and Stick to it)

In [ ]:
# 변수에 문자열을 넣고 출력해봅시다.
# 변수 greeting 에 hi를 name 에 'python'을 할당합시다. 
# 그리고 각각의 변수를 print로 찍어보고 type도 확인해봅시다.

In [1]:
greeetig = hi
name = 'python'
print(greeting)
print(name)

NameError: name 'hi' is not defined

In [ ]:
# 변수 age 에 사용자로 부터 입력을 받을 수 있는 input()의 결과를 저장합시다.
# age 에 입력받은 값이 저장되었는지 그리고 그 type이 무엇인지 확인해봅시다.
# 숫자를 넣었을때와 문자를 넣었을때의 type이 같은지 다른지도 확인해봅시다.

In [2]:
age = input()
print(age)
print(type(age))

age = input()
print(age)
print(type(age))

 5

5
<class 'str'>

 five

five
<class 'str'>

In [ ]:
# 입력받은 문자열을 int로 형변환해봅시다.

In [3]:
age = int(input())
print(age)
print(type(age))

age = int(input())
print(age)
print(type(age))

 5

5
<class 'int'>

 five

ValueError: invalid literal for int() with base 10: 'five'

#### 따옴표 사용

문자열 안에 문장부호(`'`, `"`)가 사용될 경우 이스케이프 문자(`\`)를 활용 가능 합니다.

In [ ]:
# 문자열 안에 문장부호가 들어간 '철수가 말했다. '안녕?'' 을 활용해서 오류를 확인해봅시다.

In [4]:
print('철수가 말했다. '안녕?'')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3686239262.py, line 1)

In [ ]:
# 해당 오류를 1) 이스케이프 문자와 2) 서로 다른 문장부호 구성을 통해 해결해봅시다.

In [5]:
#1.
print("철수가 말했다. '안녕?'")

철수가 말했다. '안녕?'

In [7]:
#2.
print('철수가 말했다. \'안녕?\'')

철수가 말했다. '안녕?'

여러줄에 걸쳐있는 문장은 다음과 같이 표현 가능합니다.

* `PEP-8`에 따르면 이 경우에는 반드시 `"""`를 사용하도록 되어 있다.

In [ ]:
# 여러줄을 출력해봅시다.

In [28]:
print('철수가 말했다. \'안녕?\' \n'*3)
print("""철수가 말했다. \'안녕?\'
철수가 말했다. \'안녕?\'
철수가 말했다. \'안녕?\'""")

철수가 말했다. '안녕?'
철수가 말했다. '안녕?'
철수가 말했다. '안녕?'

철수가 말했다. '안녕?'
철수가 말했다. '안녕?'
철수가 말했다. '안녕?'

In [ ]:
# 문자열은 + 연산자로 이어붙이고, * 연산자로 반복시킬 수 있습니다.
# 'heyheyhey yo!' 를 출력하도록 코드를 작성해봅시다.

In [16]:
print('\''+'hey'*3+' yo!\'')

'heyheyhey yo!'

In [ ]:
# 당연히 변수화해서도 사용가능합니다.
# 변수 prefix에 'Py'를 할당합니다.
# 그리고 prefix에 'thon'을 붙여봅시다.

In [17]:
prefix = 'Py'
print(prefix + 'thon')

Python

### 이스케이프 시퀀스

문자열을 활용하는 경우 특수문자 혹은 조작을 하기 위하여 사용되는 것으로 `\`를 활용하여 이를 구분합니다. 

|<center>예약문자</center>|내용(의미)|
|:--------:|:--------:|
|\n|줄 바꿈|
|\t|탭|
|\r|캐리지리턴|
|\0|널(Null)|
|\\\\ |`\`|
|\\'|단일인용부호(`'`)|
|\\"|이중인용부호(`"`)|

In [ ]:
# print를 한번만 사용하여 이스케이프 문자열을 조합하여 다음 결과가 나올 수 있게 해봅시다.
# '엔터
# 탭    탭'

In [18]:
print('\'엔터\n탭\t탭\'')

'엔터
탭	탭'

In [ ]:
# print 함수의 end 옵션에도 이스케이프 문자를 사용할 수 있습니다.
# 아래 코드를 수정하여 다음의 결과를 출력해봅시다.
# '내용을 띄워서 출력하고 싶으면?    옆으로 띄워짐'

In [21]:
print('내용을 띄워서 출력하고 싶으면?')
print('옆으로 띄워짐')

print('내용을 띄워서 출력하고 싶으면?', end="\t")
print('옆으로 띄워짐')

내용을 띄워서 출력하고 싶으면?
옆으로 띄워짐
내용을 띄워서 출력하고 싶으면?	옆으로 띄워짐

In [ ]:
# print 함수의 end 옵션의 기본은 \n입니다.
# 물론, end 옵션은 이스케이프 문자열이 아닌 다른 것도 가능합니다.
# end에 다른 문자열도 넣을 수 있습니다. 
# 아래 코드를 수정하여 다음의 결과를 출력해봅시다.
# '개행 문자 말고도 가능합니다!진짜로!알고보면 print는 기본이\n!'

In [25]:
print('개행 문자 말고도 가능합니다')
print('진짜로')
print('알고보면 print는 기본이 \\n')


print('개행 문자 말고도 가능합니다',end="!")
print('진짜로',end="!")
print('알고보면 print는 기본이 \\n',end="!")

개행 문자 말고도 가능합니다
진짜로
알고보면 print는 기본이 \n
개행 문자 말고도 가능합니다!진짜로!알고보면 print는 기본이 \n!

### String interpolation 

* `%-formatting` 

    * `%d` : 정수
    
    * `%f` : 실수
    
    * `%s` : 문자열

* [`str.format()` ](https://pyformat.info/)

* [`f-strings`](https://www.python.org/dev/peps/pep-0498/) : 파이썬 3.6 이후 버전에서 지원

In [ ]:
# name 변수에 이름, score 변수에 학점을 넣어봅시다.

In [29]:
name = 'jun'
score = '1.98'

In [ ]:
# %-formatting을 활용해봅시다.
# print를 이용하여 name 을 출력해봅시다..
# print를 이용하여 score를 정수 형태로 출력해봅시다.
# print를 이용하여 score를 실수 형태로 출력해봅시다.

In [52]:
print("name : " + name)
print(score)
print(float(score))
print('score : %.2f'%(float(score)))

name : jun
1.98
1.98
score : 1.98

In [ ]:
# str.format()을 활용해봅시다.
# name 을 출력해봅시다.

In [53]:
'name : {}'
print('name : {}'.format(name))

name : jun

In [ ]:
# f-string을 활용해봅시다.
# name 을 출력해봅시다.

In [54]:
print(f"name : {name}")

name : jun

In [ ]:
# 여러줄 문자열에서도 사용 가능합니다.
# f-string을 이용하여 name을 여러줄 문자열로 출력해봅시다.

In [55]:
print(f"""name : {name}
scroe : {score}""")

name : jun
scroe : 1.98

* f-strings에서는 형식을 지정할 수 있습니다.

In [ ]:
# 다양한 형식을 활용하기 위해 datetime 모듈로 오늘을 표현해봅시다.
# today 에 현재 시간 날짜를 할당해봅시다.
# print를 이용하여 today를 출력해봅시다.

In [57]:
import datetime
print(datetime.date.today())

2024-12-26

In [ ]:
# interpolation에서 출력형식을 지정할 수 있습니다.
# today에 저장된 시간을 YYYY년, mm월, dd일, A요일 로 구분해서 출력해봅시다.
# {:%달력포맷문자} 로 표현할 수 있습니다.

In [64]:
today = datetime.date.today()
print(f'오늘은 {today:%Y}년 {today:%m}월 {today:%d}일 {today:%A}')
print(today.strftime('%Y년 %m월 %d일 %A'))

오늘은 2024년 12월 26일 Thursday
2024년 12월 26일 Thursday

* f-strings에서는 연산과 출력형식 지정도 가능합니다.

In [ ]:
# string interpolation을 통해 출력형식 지정 뿐만 아니라, 연산도 가능합니다.
# pi = 3.141592 를 할당하고 
# 원주율은 3.14를 출력해봅시다.

In [79]:
pi = 3.141592
print("%.2f"%(pi))
print(f'{pi:.2f}')

3.14
3.14

In [ ]:
# 반지름이 2일 때 원의 넓이는 12.566368 이라고 출력해봅시다.

In [83]:
r = 2
sa = pi*r*r
print(sa)
print(f'{sa:.2f}')
print(f'반지름이 {r}일 때 원의 넓이는 {pi*r*r} 이라고 출력해봅시다.')
print(f'반지름이 {r}일 때 원의 넓이는 {pi*r*r:.2f} 이라고 출력해봅시다.')

12.566368
12.57
반지름이 2일 때 원의 넓이는 12.566368 이라고 출력해봅시다.
반지름이 2일 때 원의 넓이는 12.57 이라고 출력해봅시다.

<p style="font-size: 33px; font-weight: 700; margin-bottom: 3rem">컨테이너(Container)</p>

여러 개의 값을 저장할 수 있는 것(~~객체~~)

- 시퀀스(Sequence)형: 순서가 있는(ordered) 데이터
- 비 시퀀스(Non-sequence)형: 순서가 없는(unordered) 데이터

# 시퀀스(sequence)형 컨테이너

`시퀀스`는 데이터가 순서대로 나열된(ordered) 형식을 나타냅니다. 

* **주의! 순서대로 나열된 것이 `정렬되었다(sorted)`라는 뜻은 아닙니다.**

## 특징
1. 순서를 가질 수 있습니다.

2. **특정 위치의 데이터를 가리킬 수 있습니다.**

## 종류
파이썬에서 기본적인 시퀀스 타입은 다음과 같습니다.

* 리스트(list)

* 튜플(tuple)

* 레인지(range)

* *문자형(string)*

* *바이너리(binary)* : 따로 다루지는 않습니다.


## 리스트(`list`)

<center><img src="https://user-images.githubusercontent.com/18046097/61180421-fe90ae80-a650-11e9-8211-d06f87756d05.png", alt="list figure"/></center>

**활용법**
```python
[value1, value2, value3]
```

리스트는 대괄호`[]` 및 `list()` 를 통해 만들 수 있습니다.

값에 대한 접근은 `list[i]`를 통해 합니다.

In [ ]:
# 빈 list를 만들어봅시다.
# 변수명 my_list인 list를 대괄호로 만들어봅시다.
# 변수명 another_list인 list를 list()로 만들어 봅시다.
# 두 변수의 타입을 출력해 봅시다.

In [84]:
mylist = []
anotherlist = list()
print(type(mylist))
print(type(anotherlist))

<class 'list'>
<class 'list'>

In [ ]:
# 원소를 포함한 list를 만들어 봅시다.
# 변수명이 location인 list에 국내 지역 5곳을 원소로 포함해 만들어 봅시다.
# 변수 location을 출력해 봅시다.
# location의 타입을 출력해 봅시다.

In [86]:
location = ['seoul','incheon','busan','pyeongchang','deagu']
print(location)
print(type(location))

['seoul', 'incheon', 'busan', 'pyeongchang', 'deagu']
<class 'list'>

In [ ]:
# location의 첫번째 값을 인덱스로 접근해 봅시다.

In [87]:
print(location[0])

seoul

In [ ]:
# 첫 번째 요소를 강릉으로 바꿔봅시다.

In [88]:
location[0]='ganreung'
print(location)

['ganreung', 'incheon', 'busan', 'pyeongchang', 'deagu']

단, 인덱스로 접근할 수 있다는 말이 값을 변경 할 수 있다는 말과 동일한 것은 아님!!

## 튜플(`tuple`)

**활용법**
```python
(value1, value2)
```

튜플은 리스트와 유사하지만, `()`로 묶어서 표현합니다.

그리고 tuple은 수정 불가능(불변, immutable)하고, 읽을 수 밖에 없습니다.

직접 사용하기 보다는 파이썬 내부에서 다양한 용도로 활용되고 있습니다.

In [ ]:
# tuple을 만들어봅시다.
# 변수명이 my_tuple인 tuple을 만들어 봅시다. 단, 무작위 정수 2개를 포함하여 만듭니다.
# my_tuple의 타입을 출력해 봅시다.

In [89]:
my_tuple = ()
print(type(my_tuple))

<class 'tuple'>

In [ ]:
# 아래와 같은 방식으로도 만들 수 있습니다.

In [95]:
another_tuple = 1, 2
print(another_tuple)
print(type(another_tuple))
print(another_tuple[0])
another_tuple[0]=3
print(another_tuple[0])

(1, 2)
<class 'tuple'>
1

TypeError: 'tuple' object does not support item assignment

In [ ]:
# 파이썬 내부에서는 다음과 같이 활용됩니다. (변수 및 자료형 예제에서 사용된 코드입니다.)

In [100]:
x, y = 1, 2 # tuple
print(x)
print(type(x))
print(y)
x = 3
print (x)

z= 1,2
print(type(z))

1
<class 'int'>
2
3
<class 'tuple'>

In [99]:
# 실제로는 tuple로 처리됩니다.

In [104]:
x, y = (1, 2)
print(x)
print(type(x))
print(y)

1
<class 'int'>
2

In [ ]:
# 변수의 값을 swap하는 코드 역시 tuple을 활용하고 있습니다.

In [106]:
x, y = y, x
print(x)
print(y)

1
2

In [ ]:
# 변수명이 empty인 빈 tuple을 만들어 봅시다.
# 빈 tuple은 빈 괄호 쌍으로 만들어집니다.
# empty의 타입을 출력해 봅시다.
# empty의 길이를 출력해 봅시다.

In [107]:
empty=()
print(type(empty))
print(len(empty))

<class 'tuple'>
0

In [ ]:
# 변수명이 single_tuple인 하나의 요소(값)로 구성된 tuple을 만들어 봅시다. (길이가 1)
# 하나의 요소(값)로 구성된 tuple은 값 뒤에 쉼표를 붙여서 만듭니다.
# single_tuple의 타입을 출력해 봅시다.
# single_tuple의 길이를 출력해 봅시다.

In [111]:
single_tuple=(1,)
print(type(single_tuple))
print(len(single_tuple))
print(single_tuple)

<class 'tuple'>
1
(1,)

In [ ]:
# 길이가 1인 tuple을 만들 때 쉼표가 없는 경우 어떻게 되는지 확인 해봅시다.

In [112]:
tuple_or_not = ('hello') # tuple 아님
print(type(tuple_or_not))

<class 'str'>

In [113]:
# 이를 튜플로 만들려면 어떻게 해야될까요
tuple_or_not = ('hello',) # tuple 아님
print(type(tuple_or_not))

<class 'tuple'>

In [114]:
# 추가
def my_func(a, b):
    return a, b

ans = my_func(1, 2)
print(type(ans)) # tuple
print(ans)

<class 'tuple'>
(1, 2)

In [116]:
# 추가2 
# 인덱스 접근이 가능한 것과 '수정'이 가능한 것은 다른 의미!
my_tuple = (1, 2, 3)
# print(my_tuple)
print(my_tuple[0])

my_tuple[0] = 4
print(my_tuple)

1

TypeError: 'tuple' object does not support item assignment

In [115]:
# 참고
# 인덱스 접근이 가능한 것과 '수정'이 가능한 것은 다른 의미!
my_name = 'bruno'
print(my_name[0])
my_name[0] = 'j'

b

TypeError: 'str' object does not support item assignment

## 레인지(`range()`)

`range` 는 숫자의 시퀀스를 나타내기 위해 사용됩니다.

기본형 : `range(n)` 


> 0부터 n-1까지 값을 가짐


범위 지정 : `range(n, m)` 

> n부터 m-1까지 값을 가짐

범위 및 스텝 지정 : `range(n, m, s)`

> n부터 m-1까지 +s만큼 증가한다

In [ ]:
# range를 만들어봅시다.
# 0부터 2까지 값을 가지는 range를 만들고 타입을 출력해 봅시다.

In [119]:
print(range(3))
print(type(range(3)))

range(0, 3)
<class 'range'>

In [ ]:
#1. range 객체를 list로 변환

In [120]:
list(range(3))

[0, 1, 2]

In [ ]:
#2. for에서 range 활용

In [ ]:
# 0부터 9까지 값을 가지는 range를 만들고 list로 형 변환을 해 봅시다.
# 작성한 range를 list()로 감싸 형 변환 할 수 있습니다.

In [ ]:
# 4부터 8까지의 숫자를 담은 range를 만들고 list로 형 변환을 해 봅시다.

In [123]:
list(range(4,9))

[4, 5, 6, 7, 8]

In [ ]:
# range(start, end, [step, ])을 활용합니다.
# 0부터 -9까지 담긴 range를 만들고 list로 형 변환을 해 봅시다.
# 출력 결과는 다음과 같습니다.
# [0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [136]:
print(list(range(0,-10,-2)))

[0, -2, -4, -6, -8]


## 시퀀스에서 활용할 수 있는 연산자/함수 

|operation|설명|
|---------|---|
|x `in` s	|containment test|
|x `not in` s|containment test|
|s1 `+` s2|concatenation|
|s `*` n|n번만큼 반복하여 더하기
|`s[i]`|indexing|
|`s[i:j]`|slicing|
|`s[i:j:k`]|k간격으로 slicing|
|len(s)|길이|
|min(s)|최솟값|
|max(s)|최댓값|
|s.count(x)|x의 개수|

In [ ]:
# containment test를 확인해봅시다.
# 변수 my_string에 문자열 'string'을 담습니다.
# 문자열 'a'가 my_string에 포함되는지 'in' 연산자를 통해 확인하고 결과를 출력해봅시다.

In [137]:
'a' in 'strange'

True

In [ ]:
# containment test를 확인해봅시다.
# 변수명이 my_list이고 정수 1, 2, 3, 5, 1들을 원소로 가지는 list를 만듭니다.
# 정수 3이 my_list에 포함되는지 'in' 연산자를 통해 확인하고 결과를 출력해봅시다.

In [138]:
my_list=[1,2,3,5,1]
3 in my_list

True

In [ ]:
# not in을 사용해봅시다.

In [139]:
4 not in my_list

True

In [ ]:
# concatenation(연결, 연쇄)를 해봅시다.
# 문자열 '안녕'과 문자열 '하세요'를 더하고 결과를 출력해 봅시다.

In [140]:
'hi ' + 'everyone'

'hi everyone'

In [ ]:
# 정수 1과 2를 포함한 tuple과 정수 5와 6을 포함한 tuple을 더하고 결과를 출력해봅시다.

In [142]:
tuple1 = 1,2
tuple2 = 5,6
tuplesum = tuple1 + tuple2
print(tuplesum)

(1, 2, 5, 6)

In [ ]:
# 숫자 0이 6개 있는 list를 만들어봅시다.
# 단, 곱셉 연산자를 활용하여 만듭니다.

In [147]:
mlist=[]
for i in range(6):
    mlist.append(0)
print(mlist)

my_string = "string"
print(list(my_string))

[0, 0, 0, 0, 0, 0]
['s', 't', 'r', 'i', 'n', 'g']

In [ ]:
# indexing과 slicing을 하기 위해 list하나를 만들어주세요.
# 변수명은 location, 원소는 무작위 지역 5곳을 문자열로 작성합니다.
# location의 첫번째 원소에 index로 접근해 봅시다.
# -(minus) index를 활용해 맨 마지막 원소에 접근해봅시다.

In [149]:
location = ['kor','jpn','usa','chn','rus']
print(location[0])
print(location[-1])

kor
rus

In [ ]:
# 두번째, 세번째 값만 가져와봅시다.
# slicing을 사용합니다.

In [151]:
print(location[1:3])

['jpn', 'usa']

In [ ]:
# 0부터 30까지의 정수를 원소로 가지는 list를 만들어 봅시다.
# range를 활용하여 list를 생성합니다.

In [152]:
numlist=list(range(31))
print(numlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [ ]:
# list[start: end: step]
# 위에서 작성한 list를 활용하여 0부터 30까지 3씩 증가하는 값을 가지는 새로운 list를 만들어 봅시다.
# 새롭게 생성한 list를 출력해 봅시다.

In [155]:
mult3list=numlist[0:31:3]
print(mult3list)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [ ]:
# 위에서 만든 list의 길이를 확인해봅시다.

In [156]:
print(len(mult3list))

11

In [ ]:
# 위에서 만든 list의 최솟값, 최댓값을 확인해봅시다.

In [158]:
mult3list.sort()
print(mult3list)
print(mult3list[0])
print(mult3list[-1])

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
0
30

In [ ]:
# list에 담긴 특정한 것의 개수를 확인할 수도 있습니다.

In [159]:
sample_list = [1, 2, 1, 3, 1, 5]
sample_list.count(1)

3

# 비 시퀀스형(Non-sequence) 컨테이너

- 세트(set)

- 딕셔너리(dictionary)

## `set`

`set`은 순서가 없고 중복된 값이 없는 자료구조입니다.

* `set`은 수학에서의 집합과 동일하게 처리됩니다. 

* `set`은 중괄호`{}`를 통해 만들며, 순서가 없고 중복된 값이 없습니다.

* 빈 세트를 만들려면 `set()`을 사용해야 합니다. (`{}`로 사용 불가능)

* 활용 가능한 연산자는 차집합(`-`), 합집합(`|`), 교집합(`&`)입니다.

### 활용법
```python
{value1, value2, value3}
```

In [ ]:
# set 두개를 만들어서 연산자들을 활용해봅시다.

In [160]:
set_one = {1,2}
set_two = {2,3}

* 차집합은 연산자 `-`를 사용합니다.

In [161]:
# set_a와 set_b의 차집합을 구해봅시다.
set_one - set_two

{1}

* 합집합은 연산자 `|`를 사용합니다.

In [162]:
# set_a와 set_b의 합집합을 구해봅시다.
set_one | set_two

{1, 2, 3}

* 교집합은 연산자 `&`을 사용합니다.

In [163]:
# set_a와 set_b의 교집합을 구해봅시다.
set_one & set_two

{2}

In [ ]:
# set은 중복된 값이 있을 수 없습니다.

In [164]:
set_c = {1, 1, 1}
print(set_c)

{1}

* `set`을 활용하면 `list`의 중복된 값을 손쉽게 제거할 수 있습니다.
* 단, `set`으로 변환하는 순간 순서를 보장할 수 없습니다.

In [ ]:
# set으로 중복된 값을 제거해봅시다.
# 정수 1, 2, 3, 1, 1, 2를 원소로 가지는 list를 만듭니다.
# 생성한 list를 set으로 형변환 합니다.
# 결과를 출력 해봅시다.

In [166]:
listm=[1, 2, 3, 1, 1, 2]
print(listm)
setm=set(listm)
print(setm)

[1, 2, 3, 1, 1, 2]
{1, 2, 3}

In [ ]:
# 다시 list로 바꿔서 확인해봅시다.

## 세트(Set)

> 변경 가능하고(mutable), 순서가 없고(unordered), 순회 가능한(iterable)

데이터 구조로서의 세트(set)와 조작법(method)

## 추가 및 삭제

### `.add(elem)`
elem을 세트에 추가합니다.

In [ ]:
# 변수명이 fruits인 세트를 만들어봅시다.

In [178]:
fruits = {'apple', 'orange', 'peach'}

In [ ]:
# add 메서드로 세트 fruits에 '포도'를 각각 2번 작성한 이후 세트 fruits를 출력해봅시다.

In [179]:
fruits.add('grape')
fruits.add('grape')
print(fruits)

{'orange', 'peach', 'grape', 'apple'}

### `.update(*others)`

여러 값을 추가합니다.

인자로는 반드시 iterable 데이터 구조를 전달해야합니다.

In [ ]:
# 변수명이 fruits인 세트를 만들어봅시다.

In [ ]:
# update 메서드로 세트 fruits에 {'토마토', '토마토', '딸기'} 세트와 {'포도', '레몬'} 세트 인자 2개를 함께 입력 후 
# 세트 fruits를 출력해봅시다.

In [180]:
fruits.update(['strawberry', 'blueberry'])
print(fruits)

{'strawberry', 'orange', 'grape', 'blueberry', 'peach', 'apple'}

### `.remove(elem)`

elem을 세트에서 삭제하고, 없으면 KeyError가 발생합니다.

In [ ]:
# 변수명이 fruits인 세트를 만들어봅시다.

In [ ]:
# remove 메서드로 세트 fruits에 '애플'과 '사과'를 각각 입력한 이후 세트 fruits를 출력해봅시다.

### `.discard(elem)`
elem을 세트에서 삭제하고 없어도 에러가 발생하지 않습니다.

In [ ]:
# 변수명이 fruits인 세트를 만들어봅시다.

In [ ]:
# discard 메서드로 세트 fruits에 '포도'와 '수박'을 각각 입력한 이후 세트 fruits를 출력해봅시다.

### `.pop()`

**임의의 원소**를 제거해 반환합니다.

In [ ]:
# 변수명이 fruits인 세트를 만들어봅시다.

In [ ]:
# 세트 fruits에 pop 메서드를 사용 한 반환 값을 출력해봅시다.
# 이어서 세트 fruits만을 출력해봅시다.

In [ ]:
# 순서가 없는 자료구조라서 인덱스가 없다.

## `dictionary`

`dictionary`는 `key`와 `value`가 쌍으로 이뤄져있습니다.


<center><img src="https://user-images.githubusercontent.com/18046097/61180427-1405d880-a651-11e9-94e1-1cc5c2a2ff34.png"></center>

### 활용법

```python
{Key1:Value1, Key2:Value2, Key3:Value3, ...}
```

* `{}`를 통해 만들며, `dict()`로 만들 수 있습니다.
* `key`는 **변경 불가능(immutable)한 데이터**만 가능합니다. (immutable : string, integer, float, boolean, tuple, range)
* `value`는 `list`, `dictionary`를 포함한 모든 것이 가능합니다.

In [ ]:
# dict() -> key와 value 추가

# 만약 추가적으로 dict에 key value를 추가하는 방법이 있는지 궁금하다면
# 구글에 뭐라고 검색해야 할까? 고민해보자!

In [ ]:
# 비어있는 dictionary를 두가지 방법으로 만들어봅시다.
# {}와 dict()로 만들 수 있습니다.
# 두 변수의 타입을 출력해 봅시다.

In [ ]:
# my_dict = {[1, 2, 3]: 'my_str'} -> 불가능

In [ ]:
# dictionary에 중복된 key는 존재할 수가 없습니다.

In [ ]:
dict_a = {1: 1, 2: 2, 3: 3, 1: 4}
print(dict_a)

In [ ]:
# 지역번호가 담긴 전화번호부를 만들어봅시다.
# 변수 phone_book에 key를 지역명, value를 지역번호로 가지는 원소를 작성합니다.
# 예) 서울 - 02

In [ ]:
# 위에서 작성한 phone_book이 가지고 있는 key 목록을 확인 해 봅시다.
# dictionary의 .keys() 메소드를 활용하여 key를 확인 해볼 수 있습니다.

In [ ]:
# 반복문을 활용해 key를 하나씩 출력해봅시다

In [ ]:
# 위에서 작성한 phone_book이 가지고 있는 value 목록을 확인 해 봅시다.
# 딕셔너리의 .values() 메소드를 활용하여 value를 확인 해볼 수 있습니다.

In [ ]:
# 반복문을 활용해 values를 하나씩 출력해봅시다.

In [ ]:
# 위에서 작성한 phone_book이 가지고 있는 key와 value 목록을 확인 해 봅시다.
# 딕셔너리의 .items() 메소드를 활용하여 key, value를 확인 해볼 수 있습니다.

In [ ]:
# 반복문을 활용해 key, value 쌍을 하나씩 출력해봅시다.

In [ ]:
# 참고) unpacking

## 딕셔너리(Dictionary)

> 변경 가능하고(mutable), 순서가 없고(unordered), 순회 가능한(iterable)
>
> `Key: Value` 페어(pair)의 자료구조

데이터 구조로서의 딕셔너리(dictionary)와 조작법(method)

## 조회

### `.get(key[, default])`

key를 통해 value를 가져옵니다. 

절대로 KeyError가 발생하지 않습니다. default는 기본적으로 None입니다.

In [ ]:
# 변수명이 my_fruit인 딕셔너리를 만들어봅시다.

In [ ]:
# get 메서드 없이 딕셔너리 my_fruit의 key 'pineapple'의 value를 출력해봅시다.

In [ ]:
# get 메서드로 딕셔너리 my_fruit의 key 'pineapple'의 value를 출력해봅시다.

In [ ]:
# get 메서드로 딕셔너리 my_fruit의 key 'apple'의 value를 출력해봅시다.

In [ ]:
# get 메서드로 딕셔너리 my_fruit의 key 'pineapple'의 value를 출력해봅시다.
# 단, key가 없다면 0을 반환하도록 해봅시다.

## 추가 및 삭제

### `.pop(key[, default])`

key가 딕셔너리에 있으면 제거하고 그 값을 돌려줍니다. 그렇지 않으면 default를 반환합니다.

default가 없는 상태에서 딕셔너리에 없으면 KeyError가 발생합니다.

In [ ]:
# 변수명이 my_fruit인 딕셔너리를 만들어봅시다.

In [ ]:
# pop 메서드로 딕셔너리 my_fruit의 key 'apple'을 제거해봅시다.
# 제거 후 딕셔너리 my_fruit를 출력해봅시다.

In [ ]:
# 제거하고자 하는 key가 딕셔너리에 없으면 KeyError가 발생합니다.
# 실행시켜 KeyError를 확인해봅시다.
my_fruit.pop('melon')

In [ ]:
# pop 메서드의 두번째 인자로 default 값을 설정 해 KeyError가 발생하지 않도록 할 수 있습니다.
# pop 메서드로 딕셔너리 my_dict의 key 'melon'을 제거하고 해당 key가 없다면 0을 반환하도록 해봅시다.

### `.update()`

값을 제공하는 key, value로 덮어씁니다.

In [ ]:
# 변수명이 my_fruit인 딕셔너리를 만들어봅시다.

In [ ]:
# update 메서드로 딕셔너리 my_fruit의 key는 'apple', value는 '사과아'를 입력해봅시다.

In [ ]:
# grape='포도오'를 사용해봅시다.

In [ ]:
# my_dict[key] = value 이렇게 값을 추가하는 것과 어떤 차이가 있을까?
my_dict2 = {}

my_dict2['name'] = 'sosin'
print(my_dict2)

my_dict2['name'] = 'jason'
print(my_dict2)

In [ ]:
# update를 사용하면 일괄적으로 값을 수정 / 추가 할 수 있다. 
my_dict2.update({'apple': '사과아', 'grape': '포도오'})
print(my_dict2)

### [연습] 딕셔너리 순회

> 혈액형 검사한 결과가 담긴 `blood_types`이 주어졌을때, 해당 딕셔너리를 순회하며, `key`와 `value`를 출력해보세요.

---

**[출력 예시]**
```
A형은 40명입니다.
B형은 11명입니다.
AB형은 4명입니다.
O형은 45명입니다.
```

In [ ]:
# 변수명이 blood_types인 딕셔너리를 만들어봅시다.

In [ ]:
# for문을 활용해봅시다.
# 딕셔너리 blood_types을 순회하며,
# 아래와 같은 문장이 출력되도록 하는 코드를 작성하세요.
"""
A형은 40명입니다.
B형은 11명입니다.
AB형은 4명입니다.
O형은 45명입니다.
"""

In [ ]:
# keys메서드를 활용해봅시다.
# blood_types.keys()을 순회하며,
# 아래와 같은 문장이 출력되도록 하는 코드를 작성하세요.
"""
A형은 40명입니다.
B형은 11명입니다.
AB형은 4명입니다.
O형은 45명입니다.
"""

In [ ]:
# items 메서드를 활용해봅시다.
# blood_types.items()을 순회하며,
# 아래와 같은 문장이 출력되도록 하는 코드를 작성하세요.
"""
A형은 40명입니다.
B형은 11명입니다.
AB형은 4명입니다.
O형은 45명입니다.
"""

### [실습] 딕셔너리 순회

> 혈액형 검사한 결과가 담긴 `blood_types`이 주어졌을때, 해당 검사에 참가한 사람들의 총합을 구해보세요.

---

**[출력 예시]**
```
검사에 참가한 사람은 총 100명입니다.
```

In [ ]:
# 변수명이 blood_types인 딕셔너리를 만들어봅시다.

In [ ]:
# for문을 통해 딕셔너리 blood_types를 순회하며,
# dict[key]로 접근하는 방법을 통해
# '검사에 참가한 사람은 총 100명입니다.' 라는 문장을 출력하는 코드를 작성하세요.

In [ ]:
# 메서드 values를 활용해봅시다.
# for문을 통해 딕셔너리 blood_types를 순회하며,
# '검사에 참가한 사람은 총 100명입니다.' 라는 문장을 출력하는 코드를 작성하세요.

In [ ]:
# 빌트인 함수 sum을 사용해 
# '검사에 참가한 사람은 총 100명입니다.' 라는 문장을 출력하는 코드를 간단하게 작성해보세요.

### [응용] 딕셔너리 구축하기(counter)
> 리스트가 주어질 때, 각각의 요소의 개수를 value 값으로 갖는 딕셔너리를 만드세요.

---

**[출력 예시]**

{'great': 2, 'expectations': 1, 'the': 2, 'adventures': 2, 'of': 2, 'sherlock': 1, 'holmes': 1, 'gasby': 1, 'hamlet': 1, 'huckleberry': 1, 'fin': 1}

In [ ]:
# 변수명이 book_title인 리스트를 만들어봅시다.

In [ ]:
book_title =  ['great', 'expectations', 'the', 'adventures', 'of', 'sherlock', 'holmes', 'the', 'great', 'gasby', 'hamlet', 'adventures', 'of', 'huckleberry', 'fin']

In [ ]:
# 참고 - dict에서의 containment test

my_dict = {'a': '123', 'b': '456'}
if 'a' in my_dict: # key가 있는지 여부를 판단!
    print('있다!')

In [ ]:
# 1. dict[key]로 접근하는 방법을 통해 작성해보세요.

In [ ]:
# 2. count 메서드를 활용해 작성해보세요.

In [ ]:
# 3. get 메서드를 활용해 작성해보세요.

> `get(key[, default])`
* key 가 딕셔너리에 있는 경우 key 에 대응하는 값을 돌려주고, 그렇지 않으면 default 를 돌려줍니다.

## 컨테이너형 형변환

- 파이썬에서 컨테이너는 서로 변환할 수 있습니다.
- 직접 실행해가며 결과를 확인해 주세요!

<img width="708" alt="typecasting" src="https://user-images.githubusercontent.com/18046097/61180466-a6a67780-a651-11e9-8c0a-adb9e1ee04de.png">

In [ ]:
# 하나의 결과를 확인 한 후, 주석 `#` 을 활용하여 이전의 코드를 비활성화 합니다.
# 형변환 후의 결과를 확인 합니다.

In [ ]:
# list를 형변환 해봅시다.

In [ ]:
l = [1, 2, 3, 4]
str(l)
tuple(l)
set(l)
# range(l)
# dict(l)

In [ ]:
# 직접 형변환을 하면서 변환 가능 여부 꼭 확인할 것!

# tuple을 형변환 해봅시다.

In [ ]:
t = (1, 2, 3, 4)
str(t)
list(t)
set(t)
# range(t)
# dict(t)

In [ ]:
# range를 형변환 해봅시다.

In [ ]:
r = range(1, 5)
str(r)
list(r)
set(r)
tuple(r)
# dict(r)

In [ ]:
# set을 형변환 해봅시다.

In [ ]:
s = {1, 2, 3, 4}
str(s)
list(s)
tuple(s)
# range(s)
# dict(s)

In [ ]:
# dictionary를 형변환 해봅시다.

In [ ]:
d = {'name': 'python', 'year': 2022}
str(d)
list(d)
tuple(d)
set(d)
# range(d)

## 데이터의 분류
> `mutable` vs. `immutable`
[참고](https://www.geeksforgeeks.org/mutable-vs-immutable-objects-in-python/)

데이터는 크게 변경 가능한 것(`mutable`)들과 변경 불가능한 것(`immutable`)으로 나뉘며, python은 각각을 다르게 다룹니다.

### 변경 불가능한(`immutable`) 데이터

* 리터럴(literal)

    - 숫자(Number)
    - 글자(String)
    - 참/거짓(Bool)

* range()

* tuple()

* frozenset()

In [ ]:
print(range(10)[0]) # ?? 
print(range(10)[2]) # ?? 

# 결과는 어떻게 될까?
my_range = range(10)
my_range[2] = 2

In [ ]:
# immutable 데이터의 복사는 어떻게 이루어질까?
num1 = 20
num2 = num1 
num2 = 10

print(num1)
print(num2)

In [ ]:
# 아래 코드 블럭을 실행하여 복사 과정을 확인해 봅시다.

In [ ]:
%%html
<iframe width="800" height="500" frameborder="0" src="http://pythontutor.com/iframe-embed.html#code=a%20%3D%2020%0Ab%20%3D%20a%0Ab%20%3D%2010%0A%0Aprint%28a%29%0Aprint%28b%29&codeDivHeight=400&codeDivWidth=350&cumulative=false&curInstr=0&heapPrimitives=nevernest&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false"> </iframe>

### 변경 가능한(`mutable`) 데이터

- `list`
- `dict`
- `set`

In [ ]:
# mutable 데이터의 복사는 어떻게 이루어질까?
num1 = [1, 2, 3, 4]
num2 = num1
num2[0] = 100

print(num1)
print(num2)

In [ ]:
# 아래 코드 블럭을 실행하여 복사 과정을 확인해 봅시다.

In [ ]:
%%html
<iframe width="800" height="500" frameborder="0" src="http://pythontutor.com/iframe-embed.html#code=num1%20%3D%20%5B1,%202,%203,%204%5D%0Anum2%20%3D%20num1%0Anum2%5B0%5D%20%3D%20100%0A%0Aprint%28num1%29%0Aprint%28num2%29&codeDivHeight=400&codeDivWidth=350&cumulative=false&curInstr=0&heapPrimitives=nevernest&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false"> </iframe>

In [ ]:
num1 = [1, 2, 3, [1, 2, 3]]
num2 = num1
num2[3][1] = 100

print(num1)
print(num2)

# 정리
## 컨테이너(Container)
<center><img src="https://user-images.githubusercontent.com/18046097/61180439-44e60d80-a651-11e9-9adc-e60fa57c2165.png", alt="container"/></center>

In [ ]:
# 도전! 최대 & 최소 찾기(min & max 쓰지 않고!)
my_list = [3, 2, 10, 2, 4]